<h3><%= Team.count %> Teams</h3>


<h4><%= @national_teams.size %> National Teams</h4>

<table>
 <% @national_teams.each do |team| %>
   <tr>
     <td class='team-key'><%= team.key %></td>
     <td>
       <%= link_to team.title, team_path( team ) %>
     </td>
     <td>
       <%= "(#{team.tag})" if team.tag.present? %>
     </td>
     <td>
       <%= team.title2 if team.title2.present? %>
     </td>
     
     <td class='team-key'><%= team.country.key %>
     </td>
     <td>
       <%= image_tag "flags/24x24/#{team.country.key}.png" %>
       <%= link_to team.country.title, country_path(team.country) %>
       (<%= team.country.tag %>)
     <td>
     
   </tr>
 <% end %><!-- teams.each -->
</table>


<h4><%= @club_teams.size %> Clubs</h4>

<table>
 <% @club_teams.each do |team| %>
   <tr>
     <td class='team-key'><%= team.key %></td>
     <td>
       <%= link_to team.title, team_path( team ) %>
       <%= " | #{team.synonyms.split('|').join(' | ')}" if team.synonyms.present? %>
     </td>
     <td>
       <%= "(#{team.tag})" if team.tag.present? %>
     </td>
     <td>
       <%= team.title2  if team.title2.present? %>
     </td>
     
     <td class='team-key'><%= team.country.key %>
     </td>
     <td style='white-space: nowrap;'>
       <%= image_tag "flags/24x24/#{team.country.key}.png" %>
       <%= link_to team.country.title, country_path(team.country) %>
       (<%= team.country.tag %>)
       <% if team.city.present? %>
          <%= ", #{team.city.title}" %>
          <%= "/ #{team.city.region.title}" if team.city.region.present? %>
       <% end %>
     <td>
   </tr>
 <% end %><!-- teams.each -->
</table>
