<h3><%= Team.count %> Teams</h3>

<table>
 <% @teams.each do |team| %>
   <tr>
     <td class='team-key'><%= team.country.key %> / <%= team.key %></td>
     <td>
       <%= link_to team.title, team_path( team ) %>
     </td>
     <td>
       <%= "(#{team.title2})" if team.title2.present? %>
     </td>
   </tr>
 <% end %><!-- teams.each -->
</table>
