
<h3>
  <%= @team.title  %>
  <%= "(#{@team.code})" if @team.code.present? %>
</h3>

<p>
 
  <% if @team.national? %>
  <% else %>
    <%= render_team_world_tree( @team ) %>
  <% end %>
  
   <%= " | #{@team.title2}" if @team.title2.present? %>

</p>

<!-- check for badges -->

<p>
<% @team.badges.each do |badge| %>
  <%= badge.title %> <%= badge.league.title %> <%= badge.season.title %><br>
<% end %>
</p>

<ul>
  <% @team.events.each do |event| %>
      <li><%= link_to event.full_title, short_event_path(event) %></li>
  <% end %>
</ul>


<!-- todo: use different css class e.g. db?? -->
<table class='play'>
<% @team.games.each do |game| %>
<tr>
   
<%= render_game_date( game ) %>

<%= render_game_team1( game ) %>
<%= render_game_score( game ) %>
<%= render_game_team2( game ) %>
<%= render_game_flags( game ) %>
<%= render_game_round( game ) %>



</tr>
<% end %> <!-- games -->
</table>