
<h3>
  <%= @team.title  %>
</h3>

<p>
  <%= "#{@team.title2}" if @team.title2.present? %>
</p>


<!-- todo: use different css class e.g. db?? -->
<table class='play'>
<% @team.games.each do |game| %>
<tr>
     
<td class='game-date'>
  <%= game.play_at %>
</td>

<td>
  <%= game.round.title %> - <%= link_to game.round.event.title, event_path(game.round.event) %>
<td>
        
<td class='game-team1'>
  <span class=''>
    <%= link_to game.team1.title, team_path(game.team1) %>
  </span>
  <%= "(#{game.team1.title2})" if game.team1.title2.present? %>
</td>
        
<td class='game-score'>
  ( xxxx <%#= game.score_str %> )
</td>

<td class='game-team2'>
  <span class=''>
    <%= link_to game.team2.title, team_path(game.team2) %>
  </span>
  <%= "(#{game.team2.title2})" if game.team2.title2.present? %>
</td>

</tr>
<% end %> <!-- games -->
</table>