
<h3>
  <%= @team.title  %>
  <%= "(#{@team.tag})" if @team.tag.present? %>
</h3>

<p>
 
  <% if @team.national? %>
  <% else %>
       <%= image_tag "flags/24x24/#{@team.country.key}.png" %>
       <%= link_to @team.country.title, country_path( @team.country) %>
       (<%= @team.country.tag %>)
       
         <% if @team.city.present? %>
          , <%= @team.city.title %>
         <% end %>
       
  <% end %>
  
   <%= " | #{@team.title2}" if @team.title2.present? %>

</p>

<!-- check for badges -->

<p>
<% @team.badges.each do |badge| %>
  <%= badge.title %> <%= badge.league.title %> <%= badge.season.title %><br>
<% end %>
</p>


<!-- todo: use different css class e.g. db?? -->
<table class='play'>
<% @team.games.each do |game| %>
<tr>
   
<%= render_game_date( game ) %>

<%= render_game_team1( game ) %>
<%= render_game_score( game ) %>
<%= render_game_team2( game ) %>

<!-- fix/todo: use part helper -->
<td class='game-round'>
  (<%= link_to game.round.event.title, event_path(game.round.event) %> - <%= game.round.title %>)
<td>

</tr>
<% end %> <!-- games -->
</table>