
<h3>
<%= flag_for_country( @country ) %>
<%= @country.title %> 
(<%= @country.code %>)
</h3>


<h4><%= @country.leagues.count %> Leagues</h4>

<table>
 <% @country.leagues.each do |league| %>
 <tr>
   <td class='league-key'><%= league.key %></td>
   <td><%= league.title %></td>
   <td>
    <span class='event-count'>
      (<%= league.events.count %>)
    </span>
   </td>
   <td>
     <% league.events.each_with_index do |event,index| %>
          <%= '•' if index > 0 %>
          <%= link_to event.season.title, short_event_path(event) %>
     <% end %>
   </td>
 </tr>
 <% end %>
</table>


<h4><%= @country.teams.count %> Teams</h4>


<table>
 <% @country.teams.each do |team| %>
   <tr>
     <td class='team-key'><%= team.key %></td>
     <td>
       <%= logo_for_team( team ) %>
       <%= link_to_team( team ) %>
       <%= " | #{team.synonyms.split('|').join(' | ')}" if team.synonyms.present? %>
     </td>
     <td>
       <%= "(#{team.code})" if team.code.present? %>
     </td>
     <td>
       <%= team.title2  if team.title2.present? %>
     </td>
   </tr>
 <% end %><!-- teams.each -->
</table>


<h4><%= @country.regions.count %> Regions</h4>

<table>
  <% @country.regions.each do |region| %>
     <tr>
      <td class='region-key'>
        <%= region.key %>
      </td>
      <td>
        <%= region.title %>
      </td>
      <td>
      <span class='city-count'>
          (<%= region.cities.count %>)
      </span>
      </td>
      <td>
         <% region.cities.each_with_index do |city,index| %>
           <%= '•' if index > 0 %>
           <%= city.title %>
         <% end %><!-- each city -->
      </td>
     </tr>
  <% end %> <!-- each region -->
</table>
      




<h4><%= @country.cities.count %> Cities</h4>

<table>
  <% @country.cities.each do |city| %>
    <tr>
      <td class='city-key'>
        <%= city.key %>
      </td>
      <td>
        <%= city.title %>
        <%= " | #{city.synonyms.split('|').join(' | ')}" if city.synonyms.present? %>
      </td>
      <td>
        <span class='team-count'>(<%= city.teams.count %>)</span>
      </td>
      <td>
        <% city.teams.each_with_index do |team,index| %>
          <%= '•' if index > 0 %>
          <%= logo_for_team( team ) %>
          <%= link_to_team( team ) %>
        <% end %><!-- each team -->
      </td>
    </tr>
  <% end %> <!-- each city -->
</table>
