<!DOCTYPE html>
<html>
<head>
  <title>sport.db Web Admin</title>
  <%= stylesheet_link_tag    "sportdbadmin/application", :media => "all" %>
  <%= javascript_include_tag "sportdbadmin/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

 <p>
  <%= link_to 'Events', events_path() %>  &bull;
  <%= link_to 'Clubs', clubs_path() %>  &bull;
  <%= link_to 'National Teams', national_teams_path() %>  &bull;
  <%= link_to 'Countries & Cities', countries_path() %>  &bull;
  <%= link_to 'Regions', regions_path() %>  &bull;
  <%= link_to 'Rounds', rounds_path() %>  &bull;
  <%= link_to 'Past Games', past_games_path() %> &bull;
  <%= link_to 'Upcoming Games', games_path() %>  &bull;
  <%= link_to 'About', about_path() %>   .::.

  <!-- fix: use named url_helper for /api -->
  <%= link_to "Web Service / HTTP JSON API", '/api' %>
  <!-- todo: add some more links -->
 </p>

<div class='content'>
<%= yield %>
</div>

<div class='version'>
<%= powered_by %>
</div>

</body>
</html>
