<h3><%= Event.count %> Events</h3>


<table>
 <% League.all.each do |league| %>
 <% if league.events.count > 0 %>
 <tr>
   <td class='league-key'><%= league.key %></td>
   <td><%= league.title %></td>
   <td>
    <span class='event-count'>
      (<%= league.events.count %>)
    </span>
   </td>
   <td>
     <% league.events.each_with_index do |event,index| %>
          <%= '•' if index > 0 %>
          <%= link_to event.season.title, event_path(event) %>
     <% end %>
   </td>
   <td style='white-space: nowrap;'>
    <% if league.country.present? %>
       <%= image_tag "flags/24x24/#{league.country.key}.png" %>
       <%= link_to league.country.title, country_path(league.country) %>
       (<%= league.country.tag %>)
    <% end %>
   </td>
 </tr>
 <% end %><!-- if league.events.count > 0 -->
 <% end %><!-- each league -->
</table>

