<h3><%= Region.count %> Regions</h3>

<table>
<% @countries.each do |country| %>
 
<% if country.regions.count > 0 %>
  <tr>
    <td class='country-key'  style='vertical-align: top;'>
      <%= country.key %>
    </td>
    <td style='white-space: nowrap; vertical-align: top;'>
<%= image_tag "flags/24x24/#{country.key}.png" %>  
<%= link_to country.title, short_country_path( country ) %>
    </td>
    <td  style='vertical-align: top;'>
      (<%= country.code %>)
    </td>
    <td  style='vertical-align: top;'>
<span class='team-count'>
(<%= country.teams.count %>)
</span>
    </td>
    <td>

      <table>
  <% country.regions.each do |region| %>
     <tr>
      <td>
        <%= region.title %>
      </td>
      <td style='white-space: nowrap;'>
      <span class='team-count'>
           (<%= region.teams.count %>)
      </span>
        | 
      </td>
      <td>
         <% region.cities.each_with_index do |city,index| %>
           <%= city.title %>
           <span class='team-count'>
             (<%= city.teams.count %>)
           </span>
         <% end %><!-- each city -->
      </td>
     </tr>
  <% end %> <!-- each region -->
      </table>
      
    </td>
  </tr>
<% end %><!-- if country.regions.count > 0 -->

<% end %><!-- each country -->
</table>
