
<h3><%= @teams.size %> National Teams</h3>

<p>
  All
   <span class='team-count'>
    (<%= @teams.count %>)
   </span>
<% Continent.all.each do |continent| %>
    &bull; 
   <%= continent.title %>
   <span class='country-count'>
      (<%= continent.teams.where( club: false ).count %>)
   </span>
<% end %>
</p>


<%= render partial: 'teams', locals: { teams: @teams } %>
