
<h3>
  <%= @team.title  %>
  <%= "(#{@team.code})" if @team.code.present? %>
</h3>

<p>
 
   <%= render_team_world_tree( @team ) %>
  
   <%= " | #{@team.title2}" if @team.title2.present? %>

</p>

<!-- check for badges -->

<p>
<% @team.badges.each do |badge| %>
  <%= badge.title %> <%= badge.league.title %> <%= badge.season.title %><br>
<% end %>
</p>

<ul>
  <% @team.events.each do |event| %>
      <li><%= link_to_event( event, full_title: true ) %></li>
  <% end %>
</ul>


<div id='tabs-games'>
 <ul>
  <li>Upcoming</li>
  <li>Past</li>
 </ul>
 
 <div><%= render_games( @team.upcoming_games ) %></div>
 <div><%= render_games( @team.past_games ) %></div>
</div> <!-- div.tabs-games -->

<script>
   tabify( '#tabs-games' );
</script>
