
<h3>
  <%= @team.title  %>
  <%= "(#{@team.code})" if @team.code.present? %>
</h3>

<p>
 
   <%= render_team_world_tree( @team ) %>
  
   <%= " | #{@team.title2}" if @team.title2.present? %>

</p>

<!-- check for badges -->

<p>
<% @team.badges.each do |badge| %>
  <%= badge.title %> <%= badge.league.title %> <%= badge.season.title %><br>
<% end %>
</p>

<ul>
  <% @team.events.each do |event| %>
      <li><%= link_to_event( event, full_title: true ) %></li>
  <% end %>
</ul>


<div id='tabs-games'>
 <ul>
  <li>Upcoming</li>
  <li>Past</li>
 </ul>

<div>
<!-- todo: use different css class e.g. db?? -->
<table class='play'>
<% @team.upcoming_games.all.each do |game| %>
<tr>
   
<%= render_game_date( game ) %>

<%= render_game_team1( game ) %>
<%= render_game_score( game ) %>
<%= render_game_team2( game ) %>
<%= render_game_flags( game ) %>
<%= render_game_round( game ) %>

</tr>
<% end %> <!-- games -->
</table>
</div>

<div>
<!-- todo: use different css class e.g. db?? -->
<table class='play'>
<% @team.past_games.all.each do |game| %>
<tr>
   
<%= render_game_date( game ) %>

<%= render_game_team1( game ) %>
<%= render_game_score( game ) %>
<%= render_game_team2( game ) %>
<%= render_game_flags( game ) %>
<%= render_game_round( game ) %>

</tr>
<% end %> <!-- games -->
</table>
</div>
</div> <!-- div.tabs-games -->

<script>
   tabify( '#tabs-games' );
</script>
