
<span>
  <%= flag_for_country( team.country ) %>

  <% if team.city.present? %>
    <%= team.city.title %> >
    <% if team.city.region.present? %>
      <%= team.city.region.title %> >
    <% end %>
  <% end %>


  <%= link_to_country( team.country ) %>
  (<%= team.country.code %>) >
  <%= team.country.continent.title if team.country.continent.present? %>
</span>
